* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: SpectralSemiBold;
    src: url('../fonts/Spectralscsemibold.ttf');
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #d5d9da;
}

.main-image {
    background-image: url("../images/main-image.png");
    background-size: cover;
    background-position: center;
    height: 811px;
}

.header {
    background-color: #dde0db;
    padding: 16px 0;
    position: sticky;
    top: 0;
    z-index: 2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    font-size: 0;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.header .menu {
    margin-left: 354px;
    display: inline-block;
    vertical-align: middle;
}

.header .menu ul {
    list-style: none;
    font-size: 0;
}

.header .menu ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 28px;
}

.menu ul li a {
    font-size: 16px;
    color: rgb(70, 80, 85);
    line-height: 1.2;
    text-decoration: none;
    cursor: pointer;
}

.header-actions {
    display: inline-block;
    vertical-align: middle;
    margin-left: 94px;
}

.button {
    font-size: 16px;
    line-height: 11px;
    padding: 14px;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
    width: 205px;
}

.button.button-transparent {
    color: rgb(121, 136, 144);
    background-color: transparent;
    border: 1px solid #818282;
}

.gallery {
    padding: 102px 0 55px 0;
}

.gallery h2 {
    font-size: 40px;
    font-family: SpectralSemiBold, sans-serif;
    color: rgb(47, 40, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 54px;
}

.gallery-description {
    font-size: 18px;
    color: rgb(62, 52, 44);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 18px;
}

.gallery-items {
    margin-left: -12px;
    margin-right: -12px;
    font-size: 0;
}

.gallery-item {
    margin: 12px 11px;
    display: inline-block;
    vertical-align: middle;
    width: 384px;
    height: 290px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.gallery-item.gallery-item-big {
    width: 792px;
}

.gallery-text {
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    left: 20px;
    bottom: 20px;
    position: absolute;
}

.gallery-eye {
    display: none;
    opacity: 0.6;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    line-height: 290px;
}

.gallery-eye img {
    vertical-align: middle;
}

.gallery-item:hover .gallery-eye {
    display: block;
    cursor: pointer;
}

.tours {
    padding: 54px 0 88px 0;
}

.tours h2 {
    font-size: 40px;
    font-family: SpectralSemiBold, sans-serif;
    color: rgb(47, 40, 34);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 50px;
    text-align: center;
}

.tour-items {
    margin-left: -12px;
    margin-right: -12px;
    font-size: 0;
}

.tour-item {
    margin: 0 12px;
    display: inline-block;
    vertical-align: middle;
    max-width: 384px;
    position: relative;
}

.tour-item-info {
    background-color: #31393f;
    padding: 22px 22px 40px 22px;
}
.tour-item-text {
    font-size: 22px;
    color: white;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 37px;
}

.tour-item-action {
    text-align: center;
}

.button.button-filled {
    background-color: #da8246;
    font-size: 18px;
    color: rgb(37, 41, 43);
}

.button.button-filled:hover {
    box-shadow: 0px 4px 14.25px 0.75px rgba(217, 149, 103, 0.8);
}


.fixed-block {
    width: 46px;
    height: 46px;
    background-color: #da8246;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 46px;
    border-radius: 0 0 0 5px;
}

.fixed-block img {
    vertical-align: middle;
}

.footer {
    background-color: #31393f;
    padding: 54px 0 49px 0;
    font-size: 0;
}

.footer .contacts {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 899px;
}


.footer .contacts .contact-text {
    font-size: 18px;
    color: rgb(167, 185, 197);
    margin-bottom: 15px;
    line-height: 1;
}


.footer .contacts .contact-phone {
    font-size: 14px;
    color: rgb(131, 145, 156);
    margin-bottom: 7px;
    line-height: 1;
}
.footer .contacts .contact-phone:last-child {
    margin-bottom: 0px;
}
